body{
    display:grid ;
    grid-template-columns: 30% 1fr;
    gap: 30px;
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background-color: antiquewhite;
}




.presentation{
    background-color:rgb(243, 190, 221) ;
    padding-left: 30px;
    border-radius: 8cap;
}
.presentation h2{
    padding-left: 20px;
    color: black;
    margin: 0%;
    padding-left: 10px;
}
.presentation p{
    padding-left: 20px;
    padding-top: 15px;
    color: black;
    margin: 0%;
}
.grid-container{
    display: block;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}
.contact-info h3{
    background-color:rgb(243, 190, 221);
    color:black;
    border-radius: 8cap;
    padding-left: 10px;
}
.grid-container2{
    display: block;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.grid-container2 h2{
    background-color:rgb(243, 190, 221);
    padding-left: 20px;
    color:black;
    margin: 0%;
    border-radius: 8cap;
    padding-left: 10px;
}

.grid-container2 h3{
    background-color:rgb(241, 172, 205);
    color: black;
    border-radius: 8cap;
    padding-left: 10px;
}

.formation h4{
    background-color: rgb(241, 172, 205);
    padding-left: 20px;
    color: black;
    border-radius: 8cap;
    padding-left: 10px;

}
p {
    font-size: 14px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 10px;
    text-align: justify;
}